<ion-modal-view>
  <ion-header-bar class='connectionStatus'>
        <ion-checkbox  class="checkbox-clear"  color="blue" style="border-style:none; padding-top:10px" ng-model="isAutoLogin" (ionChange)="updateAutoLogine()">Автовход</ion-checkbox>
        <label class="button button-clear"></label>
    <h1 class="title">Smart DAS</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Закрыть</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list"><br><br><br><br><br>
        <label class="item item-input">
          <span class="input-label" style="width:80px">Логин</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label" style="width:80px">Пароль</span>
          <input type="password" ng-model="loginData.password">
        </label>

        <!--<label class="item item-input">
          <span class="input-label" style="width:30px">url</span>
          <input type="text" ng-model="loginData.url">
        </label>-->
        <label class="item"> 
          <button class="button button-block button-positive" type="submit">Вход</button>
        </label>
         <ion-item>
        </ion-item>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
